.elemento-animado {
    width: 100px;
    height: 100px;
    background-color: #326c93;
    transform-origin: center center; 
    animation: rotacion 4s linear infinite; 
}

@keyframes rotacion {
    0% {
      transform: rotate(0deg); 
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg); 
    }
}